@page "/"

@using Fluxor
@using BlazorFluxor.Store;
@using BlazorFluxor.Store.ValueUseCase;
@using Syncfusion.Blazor.DropDowns;

<SfListBox TValue="string[]" Value="@valueState.Value.Items" DataSource="@Vehicles" TItem="VehicleData">
    <ListBoxFieldSettings Text="Text" Value="Id" />
    <ListBoxEvents TValue="string[]" TItem="VehicleData" ValueChange="@valueChange"></ListBoxEvents>
</SfListBox>

<span style="margin-top: 20px; display: block;"><b>Selected Items</b></span>
<ol>
    @foreach (var item in valueState!.Value.Items)
    {
        <li>@item</li>
    }
</ol>

@code {

    [Inject]
    private IDispatcher? dispatcher { get; set; }

    [Inject]
    protected IState<ValueState>? valueState { get; set; }

    public List<VehicleData> Vehicles = new List<VehicleData> {
        new VehicleData { Text = "Hennessey Venom", Id = "Vehicle-01" },
        new VehicleData { Text = "Bugatti Chiron", Id = "Vehicle-02" },
        new VehicleData { Text = "Bugatti Veyron Sport", Id = "Vehicle-03" },
        new VehicleData { Text = "SSC Ultimate Aero", Id = "Vehicle-04" },
        new VehicleData { Text = "Koenigsegg CCR", Id = "Vehicle-05" },
        new VehicleData { Text = "McLaren F1", Id = "Vehicle-06" },
        new VehicleData { Text = "Aston Martin One- 77", Id = "Vehicle-07" },
        new VehicleData { Text = "Jaguar XJ220", Id = "Vehicle-08" }
    };

    private void valueChange(ListBoxChangeEventArgs<string[], VehicleData> args)
    {
        dispatcher?.Dispatch(new EventValueClicked(args.Value));
    }

    public class VehicleData {
        public string Text  { get; set; }
        public string Id  { get; set; }
    }
}